body {
  background: #0d1117;
  color: white;
  font-family: sans-serif;
  padding: 40px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.box {
  padding: 20px;
  background: #1f6feb;
  margin-bottom: 15px;
  font-size: 24px;
  border-radius: 10px;
}
